In [327]:
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix

In [328]:
excel_file = 'test_data.xlsm'
test_data = pd.read_excel(excel_file)
df = test_data

In [329]:
df.head(20)

,YEAR,MONTH,DAY_OF_MONTH,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
0,2018,1,27,"Fort Lauderdale, FL","Houston, TX",615,602,-13,19,621,749,7,808,756,-12,173,174,966,4
1,2018,1,27,"Seattle, WA","San Francisco, CA",618,614,-4,16,630,808,5,831,813,-18,133,119,679,3
2,2018,1,27,"Washington, DC","Houston, TX",830,828,-2,17,845,1055,13,1107,1108,1,217,220,1208,5
3,2018,1,27,"Los Angeles, CA","Chicago, IL",650,641,-9,17,658,1230,12,1250,1242,-8,240,241,1744,7
4,2018,1,27,"Jacksonville, FL","Newark, NJ",1824,1810,-14,11,1821,2013,8,2045,2021,-24,141,131,820,4
5,2018,1,27,"Houston, TX","Phoenix, AZ",1420,1413,-7,19,1432,1554,5,1618,1559,-19,178,166,1009,5
6,2018,1,27,"Newark, NJ","Honolulu, HI",815,842,27,21,903,1454,3,1438,1457,19,683,675,4962,11
7,2018,1,27,"Honolulu, HI","Newark, NJ",1615,1623,8,21,1644,618,12,653,630,-23,578,547,4962,11
8,2018,1,27,"Las Vegas, NV","San Francisco, CA",1520,1515,-5,11,1526,1634,7,1703,1641,-22,103,86,414,2
9,2018,1,27,"Washington, DC","Tampa, FL",1753,1746,-7,16,1802,1955,6,2019,2001,-18,146,135,811,4
10,2018,1,27,"Los Angeles, CA","Washington, DC",810,804,-6,22,826,1542,6,1602,1548,-14,292,284,2288,10
11,2018,1,27,"San Francisco, CA","Las Vegas, NV",1042,1033,-9,26,1059,1201,7,1221,1208,-13,99,95,414,2
12,2018,1,27,"Washington, DC","Hayden, CO",830,822,-8,19,841,1030,4,1049,1034,-15,259,252,1582,7
13,2018,1,27,"Newark, NJ","Houston, TX",1220,1221,1,12,1233,1517,10,1529,1527,-2,249,246,1400,6
14,2018,1,27,"Denver, CO","Cleveland, OH",1538,1537,-1,11,1548,1956,4,2025,2000,-25,167,143,1201,5
15,2018,1,27,"Hayden, CO","Newark, NJ",1202,1159,-3,12,1211,1723,14,1805,1737,-28,243,218,1728,7
16,2018,1,27,"Washington, DC","Boston, MA",2230,2223,-7,11,2234,2336,4,2359,2340,-19,89,77,413,2
17,2018,1,27,"Tampa, FL","Washington, DC",1840,1826,-14,16,1842,2027,5,2053,2032,-21,133,126,811,4
18,2018,1,27,"Raleigh/Durham, NC","Chicago, IL",1726,1719,-7,19,1738,1822,13,1846,1835,-11,140,136,646,3
19,2018,1,27,"Cleveland, OH","Chicago, IL",644,640,-4,11,651,649,3,720,652,-28,96,72,316,2

In [330]:
df = df.drop(['YEAR','MONTH','DAY_OF_MONTH','ORIGIN_CITY_NAME','DEST_CITY_NAME','TAXI_OUT','WHEELS_OFF','WHEELS_ON','DISTANCE','DISTANCE_GROUP','TAXI_IN','CRS_ELAPSED_TIME','ACTUAL_ELAPSED_TIME','ARR_DELAY','DEP_DELAY'], axis=1)

In [331]:
df.head(8)

   CRS_DEP_TIME  DEP_TIME  CRS_ARR_TIME  ARR_TIME
0           615       602           808       756
1           618       614           831       813
2           830       828          1107      1108
3           650       641          1250      1242
4          1824      1810          2045      2021
5          1420      1413          1618      1559
6           815       842          1438      1457
7          1615      1623           653       630

In [332]:
#add another column
df['outcome'] = df['ARR_TIME'] - df['CRS_ARR_TIME']

In [351]:
#delayed column
#if flights are delayed more than 15minutes it will show a 1
df['delayed'] = np.where(df['outcome']>=15, 1, 0)

In [352]:
data = df[df.columns[:-1]]
label = df["delayed"]

In [358]:
df.head(80)

    CRS_DEP_TIME  DEP_TIME  CRS_ARR_TIME  ARR_TIME  outcome  delayed
0            615       602           808       756      -52        0
1            618       614           831       813      -18        0
2            830       828          1107      1108        1        0
3            650       641          1250      1242       -8        0
4           1824      1810          2045      2021      -24        0
5           1420      1413          1618      1559      -59        0
6            815       842          1438      1457       19        1
7           1615      1623           653       630      -23        0
8           1520      1515          1703      1641      -62        0
9           1753      1746          2019      2001      -18        0
10           810       804          1602      1548      -54        0
11          1042      1033          1221      1208      -13        0
12           830       822          1049      1034      -15        0
13          1220      1221          1529      1527       -2        0
14          1538      1537          2025      2000      -25        0
15          1202      1159          1805      1737      -68        0
16          2230      2223          2359      2340      -19        0
17          1840      1826          2053      2032      -21        0
18          1726      1719          1846      1835      -11        0
19           644       640           720       652      -68        0
20          1710      1707           501       443      -58        0
21           746       736          1330      1247      -83        0
22          1400      1342          2007      1944      -63        0
23           905       904          1451      1437      -14        0
24          1640      1635           655       626      -29        0
25           636       624           800       750      -50        0
26          1859      1850          2147      2113      -34        0
27          1847      1837          2318      2240      -78        0
28           940       933          1450      1428      -22        0
29          1735      1727          2047      2016      -31        0
..           ...       ...           ...       ...      ...      ...
50           910       907          1255      1227      -28        0
51           640       634           751       738      -13        0
52          1200      1146          1913      1851      -62        0
53           700       646          1306      1242      -64        0
54          1246      1239          1516      1458      -58        0
55          1330      1324          1655      1638      -17        0
56          2254      2248          2359      2341      -18        0
57          1225      1222          1509      1504       -5        0
58           705       657           813       751      -62        0
59           958       944          1109      1042      -67        0
60          2109      2059          2228      2207      -21        0
61           750       742          1102      1032      -70        0
62          1445      1443          1738      1726      -12        0
63           615       608          1222      1205      -17        0
64          1340      1332          1650      1623      -27        0
65          1758      1757          2054      2043      -11        0
66           500       453           830       834        4        0
67          1020      1011          1604      1525      -79        0
68          1135      1217          1233      1341      108        1
69           940       932          1013      1000      -13        0
70          1320      1315          1659      1711       52        1
71          1238      1229          1504      1445      -59        0
72          2110      2104          2326      2310      -16        0
73          1836      1829          1948      1936      -12        0
74          1856      1854          2021      2012       -9        0
75           845       837          1141      1120      -21        0
76           710       711           924       912      -12        0
77          1040      1032          1615      1553      -62        0
78          1320      1315          2132      2122      -10        0
79           930       928          1240      1238       -2        0

[80 rows x 6 columns]

In [359]:
train_size = int(len(df) * .8)
print ("Train size: %d" % train_size)
print ("Test size: %d" % (len(df) - train_size))

Train size: 240
Test size: 60

In [360]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=df[['CRS_ARR_TIME', 'ARR_TIME']]  # Features
y=df['delayed']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [361]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=20,random_state=0)  


#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [362]:
#accuracy calculation
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9555555555555556